@charset "UTF-8";
.container {
  position: relative;
  width: 100%;
  height: calc((9 / 16) * 100vw - 30px);
  max-height: calc(100vh - 30px);
  min-height: 480px;
  background: #000;
}

.player-dimensions {
  width: 100%;
  height: 100%;
}

.vjs-custom-skin.video-js {
  width: 100%;
  font-family: 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'Segoe UI',
    'Microsoft YaHei', '微软雅黑', sans-serif;
}

.vjs-custom-skin .vjs-menu-button-inline.vjs-slider-active,
.vjs-custom-skin .vjs-menu-button-inline:focus,
.vjs-custom-skin .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em;
}

.vjs-custom-skin .vjs-controls-disabled .vjs-big-play-button {
  display: none !important;
}

.vjs-custom-skin .vjs-control {
  width: 3em;
}

.vjs-custom-skin .vjs-control.vjs-live-control {
  display: flex!important;
  width: auto;
  padding-left: 0.5em;
  letter-spacing: 0.1em;
}
.vjs-is-live .vjs-progress-control {
  display: none;
}

.vjs-custom-skin .vjs-menu-button-inline:before {
  width: 1.5em;
}

.vjs-menu-button-inline .vjs-menu {
  left: 3em;
}

.vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button {
  /* display: block; */
}

.vjs-custom-skin .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
  display: none !important;
}

.vjs-custom-skin .vjs-mouse-display:after,
.vjs-custom-skin .vjs-play-progress:after {
  padding: 0 0.4em 0.3em;
}

.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
  /* display: block !important; */
}

.video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button {
  /* display: block; */
}

.vjs-custom-skin .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -48px;
}

.vjs-custom-skin .vjs-big-play-button {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  /* bottom: 60px; */
  /* top: initial; */
  background:rgba(0,0,0,0.5);
  border:2px solid rgba(255,255,255,1);
}
.vjs-custom-skin .vjs-big-play-button .vjs-icon-placeholder:before {
  font-size: 73px;
  margin-top: 26px;
}

.video-js:hover .vjs-big-play-button,
.vjs-custom-skin .vjs-big-play-button:focus,
.vjs-custom-skin .vjs-big-play-button:active {
  /* background-color: rgba(36, 131, 213, 0.9); */
  background-color: #ff323b;
  border-color: #ff323b;
}

.vjs-custom-skin .vjs-loading-spinner {
  border-color: rgba(36, 131, 213, 0.8);
}

.vjs-custom-skin .vjs-control-bar2 {
  background-color: #000000;
}

.vjs-custom-skin .vjs-control-bar {
  color: #ffffff;
  font-size: 14px;
  background: #000;
  border-top: 1px solid #353535;
}

.vjs-custom-skin .vjs-play-progress,
.vjs-custom-skin .vjs-volume-level {
  background-color: #FF0520;
}
.vjs-custom-skin .vjs-slider {
  background-color: rgba(255,255,255,0.2);
}

.vjs-custom-skin .vjs-play-progress:before {
  top: -0.3em;
}

.vjs-custom-skin .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.3em;
}

.vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0em;
}

.vjs-custom-skin .vjs-menu li {
  padding: 0;
  line-height: 2em;
  font-size: 1.1em;
  font-family: 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'Segoe UI',
    'Microsoft YaHei', '微软雅黑', sans-serif;
}

.vjs-custom-skin .vjs-time-tooltip,
.vjs-custom-skin .vjs-mouse-display:after,
.vjs-custom-skin .vjs-play-progress:after {
  border-radius: 0;
  font-size: 1em;
  padding: 0 0.3em;
  height: 1.5em;
  line-height: 1.5em;
  top: -3em;
}

.vjs-custom-skin .vjs-menu-button-popup .vjs-menu {
  width: 5em;
  left: -1em;
}

.vjs-custom-skin
  .vjs-menu-button-popup.vjs-volume-menu-button-vertical
  .vjs-menu {
  left: 0;
}

.vjs-custom-skin .vjs-control-bar .vjs-resolution-button .vjs-menu {
  /*order: 4;*/
}

/*排序顺序*/
.vjs-custom-skin .vjs-control-bar .vjs-play-control {
  order: 0;
}

.video-js.vjs-custom-skin .vjs-control-bar .vjs-time-control {
  display: none;
}

.vjs-custom-skin .vjs-control-bar .vjs-time-control {
  min-width: 1em;
  padding: 0;
  margin: 0 0.2em;
  text-align: center;
  display: block;
  /* order: 1; */
}

.vjs-custom-skin
  .vjs-control-bar
  .vjs-playback-rate
  .vjs-playback-rate-value {
  font-size: 1.2em;
  line-height: 2.4;
}

.vjs-custom-skin .vjs-progress-control.vjs-control {
  /* order: 2; */
}

.vjs-custom-skin .vjs-control-bar .vjs-volume-menu-button {
  /* order: 3; */
}

.vjs-custom-skin .vjs-control-bar .vjs-resolution-button {
  /* order: 4; */
}

.vjs-custom-skin
  .vjs-control-bar
  .vjs-resolution-button
  .vjs-resolution-button-label {
  display: block;
  line-height: 3em;
}

.vjs-custom-skin .vjs-control-bar .vjs-playback-rate {
  /* order: 5; */
}

.vjs-custom-skin .vjs-control-bar .vjs-fullscreen-control {
  /* order: 6; */
}

.vjs-custom-skin .vjs-control-bar .vjs-remaining-time {
  display: none;
}

.vjs-custom-skin .vjs-progress-holder {
  height: 0.57em;
}

.vjs-custom-skin .vjs-play-progress:before {
  margin-top: 2px;
}

.vjs-custom-skin .vjs-loading-spinner {
  /* display: block; */
  /* visibility: visible; */
  width:96px;
  height:96px;
  background:rgba(0,0,0,0.75);
  border-radius:8px;
  border: none;
  margin: -48px 0 0 -48px;
}

.vjs-custom-skin .vjs-loading-spinner:before {
	background-image: url('/images/video-loading.png');
	background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  margin: 0;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.vjs-custom-skin .vjs-play-progress:before {
  color: #FF0520;
  font-size: 1.2em;
}
.vjs-custom-skin .vjs-volume-panel .vjs-volume-control,
.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background: rgba(0, 0, 0, .75);
}

.vjs-marker {
   position: absolute;
   left: 0;
   bottom: 0em;
   opacity: 1;
   height:100%;
   z-index: 100;
}
.vjs-marker:hover {
  cursor: pointer;
}
.point {
  width: 7px;
  border-radius: 30%;
  background-color: white;
  margin-left: -3.5px;
  left: 0%;
}
.point.is-done {
  /* background-color: green; */
  background:rgba(255,255,255,0.8);
}
.video-js .vjs-progress-holder {
}

.vjs-resolution-button .vjs-menu-icon:before {
  content: '\f110';
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1.67em;
}

.vjs-resolution-button-label {
  font-size: 1em;
  line-height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: inherit;
}

.vjs-resolution-button .vjs-menu .vjs-menu-content {
  width: 4em;
  left: 50%; /* Center the menu, in it's parent */
  margin-left: -2em; /* half of width, to center */
}

.vjs-resolution-button .vjs-menu li {
  text-transform: none;
  font-size: 1em;
}
.sticky {
  z-index: 1000;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}
